@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url("./variables.css");

.body-cadastro{
    display: flex;
    width: 100%;
    min-height: 100dvh;
    justify-content: space-around;
    margin: 0;
}
.main-cadastro{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 100%;
    height: auto;
}

.container-geral-cadastro {
    display: flex;
    align-items: flex-start;
    height: auto;
    width: 100%;
    padding: 30px 30px;
    box-sizing: border-box;
    background-color: var(--cor_secundaria);
}

.container-form-cadastro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bem-vindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
    min-height: 100%;
    width: 50%;
}

.forms-cadastro {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 25px 50px 20px;
    border-radius: 20px;
    width: 65%;
    box-sizing: border-box;
}

.container-form-cadastro .container-label,
.container-form-cadastro .container-label-2,
.container-form-cadastro .form-group {
    margin-bottom: 20px;
}

.container-form-cadastro input[type="text"],
.container-form-cadastro input[type="email"],
.container-form-cadastro input[type="password"]{
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-bottom: 1px solid #b6b2b2;
    outline: none;
    border-radius: 2px;
    box-sizing: border-box;
}

.container-form-cadastro .titulo {
    margin-bottom: 20px;
    text-align: center;
    color: #525151;
}

.container-form-cadastro .enviar {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 2px;
    background-color: #ec8938;
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* Configuração de flexbox para manter as divs lado a lado */

.checkbox-group, .date-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group{
    gap: 5px;
    margin-left: 10px;
}

/*Form group configuration*/

.form-group{
    font-size: 14px;
    color: #525151;
}

.form-group p, #data-n{
    margin-bottom: 12px;
    font-weight: 600;
}

#data-nascimento{
    width: 150px;
    height: 30px;
    padding-left: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 0.5px #707070;
}

/*Bem vindo config*/

.bem-vindo h1{
    font-weight: bolder;
    margin: 0;
    font-size: 7vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bem-vindo p{
    font-size: 17px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.bem-vindo a{
    align-self: center;
    border-radius: 20px;
	border: 1px solid var(--cor_terciaria);
    background-color: var(--cor_terciaria);
	color: #ffffff;
	font-size: 12px;

	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    text-decoration: none;
	transition: transform 80ms ease-in;
    cursor: pointer;
}

@media (max-width: 600px) {
    .body-cadastro{
        display: block;
    }
    .container-geral-cadastro{
        flex-direction: column;
        background-color: var(--cor_secundaria);
        padding: 30px 0px 0px;
        margin: 0px;
        min-height: auto;
    }
    .main-cadastro{
        min-height: auto;
        width: 100%;
    }
    .bem-vindo{
        margin: 0;
        width: 100%;
        height: auto;
        min-height: 60dvh;
    }
    .container-form-cadastro{
        margin: 30px 0px;
    }
    .container-form-cadastro .container-label,
    .container-form-cadastro .container-label-2,
    .container-form-cadastro .form-group {
        margin-bottom: 10px;
    }
    .forms-cadastro{
        width: 75%;
        padding: 20px 30px;
        box-sizing: border-box;
    }
}

