@import url("./variables.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Deixa a rolagem da página suave ao clicar em links */
}

.home-page {
    min-height: 100vh; /* Garante que o fundo cubra a tela toda, mesmo com pouco conteúdo */
    line-height: 1.5;  /* Melhora o espaçamento entre as linhas do texto automaticamente */
    -webkit-font-smoothing: antialiased; /* Deixa as fontes mais nítidas em telas de alta resolução */

    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 20% 80%; /* aside | conteúdo */
}

img, picture, video, canvas, svg {
    max-width: 100%;
    display: block;
    height: auto;
}

.main-homepage{
    min-height: 100vh;
    height: auto;
    width: 100%;

    background-color: var(--cor_fundo);

    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 0px auto;
}

.main-homepage .logomarca-titulo {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logomarca-titulo i {
    color: var(--cor_secundaria);
    font-size: 34px;
}

.logomarca-titulo h3 {
    color: var(--cor_terciaria);
    font-size: 18px;
}

@media (max-width: 600px) {
    .home-page{
        grid-template-columns: 1fr;
        overflow-x: hidden;
        min-height: 100dvh;
    }
    .main-homepage {
        background-color: var(--cor_primaria);
        display: flex;
        flex-direction: column;

        overflow-x: hidden;
        height: auto;
        width: 100%;
        box-sizing: border-box;
    }
    .main-homepage .logomarca-titulo{
        margin: 0px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 65px;
        z-index: 10;
        background-color: var(--cor_primaria);
    }
}